* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	line-height: 1.1;
}

body {
	background-color: #fbf2e9;
}

li {
	list-style: none;
}

svg,
img {
	width: 100%;
	height: 100%;
}

.wrapper {
	max-width: 1200px;
	margin: 20px auto;
	padding: 0 15px;
}